html,
body {
  height: 100%;
}
.paralax {
  background-image: url(../img/mount.png);
  height: 50%;
}
.bg {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.nav-link {
  color: white !important;
}
.nav-link:hover {
  color: #2bbbad !important;
}

.navbar-brand:hover {
  color: #2bbbad !important;
}

.jumbotron {
  background-color: rgba(255, 255, 255, 0.7);
  color: rgb(56, 56, 56);
  margin-top: 100px;
}

.team {
  border: 10px solid transparent;
  margin-bottom: 25px;
  width: 250px;
  height: 250px;
  background-color: #f8f8f8;
}
.team:hover {
  border-color: grey;
}

.namepadding {
  position: relative;
  top: 50%;
  width: 17em;
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  font-size: 180%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
  color: white;
}

/* Animation */
.animation {
  animation: typewriter 4s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 15em;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}

@media only screen and (max-width: 600px) {
  .namepadding {
    font-size: 120%;
  }
}
.member {
  color: #7b8fa1;
  padding: 20px;
  font-size: 130%;
}
.btn {
  margin-bottom: 5px;
}

.btn-default {
  width: 50%;
  margin-bottom: 10px;
  background-color: grey;
}
.fa {
  font-size: 200%;
  color: white;
  margin: 10px;
}
.main-icons .fa:hover {
  color: #2bbbad;
}

#flip-container {
  position: relative;
  margin: 10px auto;
  width: 255px;
  height: 255px;
  z-index: 1;
}
#flip-container {
  perspective: 1000;
}
#flip-card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.6s linear;
  border-radius: 50%;
}
#flip-container:hover #flip-card {
  transform: rotateY(180deg);
}
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.back {
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 10px;
  color: white;
  text-align: center;
  background-color: rgb(255, 255, 255);
  padding-top: 50px;
}

.img-circle {
  border-radius: 50%;
}
.box {
  color: rgb(48, 47, 47) !important;
}

.btn-my {
  color: white;
  background-color: rgb(109, 107, 107);
}
.btn-my:hover {
  color: white;
  background-color: #2bbbad;
}
.lead > .fa {
  color: #2bbbad;
}
.card {
  margin: 10px;
}

.contact {
  margin-top: 100px;
}
.contact p,
.contact h2 {
  color: white;
}

footer {
  padding: 20px;
}

#me {
  height: 100vh;
}
.arr {
  margin-top: 10vh;
}
.colorrow {
  background-color: #2bbbad;
  opacity: 0.8;
  padding: 30px;
}
.you_know {
  margin-bottom: 10px;
}
